/* ==========================================================================
    LAYOUT

    Page layout classes. Generate object-oriented grid classes.
   ========================================================================== */

.l-site-wrapper {
	padding: 0 20px;

  display: block;

	@include container;
}

.l-main-container {
  position: relative;
}

.l-main,
.l-sidebar {
  padding-top: 40px;
}

.l-hero {
  height: 390px;
}

.l-page-content {
  padding-top: 50px;
  padding-bottom: 40px;
}

.l-post-page-content {
  padding-top: 40px;
  padding-bottom: 40px;
}

/**
 * Generate grid classes
 * 
 * These are in separate loops
 * for a reason.
 */
@for $i from 1 through map-get( $susy, columns ) {
  .l-col-#{$i} {
    @include span( $i );
  }

  .l-col-#{$i}-last {
    @include span( $i last );
  }

  .l-col-push-#{$i} {
    @include push( $i );
  }
}

@for $i from 1 through map-get( $susy, columns ) {
  .l-col-sml-#{$i} {
    @include respond-to( 'tablet' ) {
      @include span( $i );
    }
  }

  .l-col-sml-#{$i}-last {
    @include respond-to( 'tablet' ) {
      @include span( $i last );
    }
  }

  .l-col-sml-push-#{$i} {
    @include respond-to( 'tablet' ) {
      @include push( $i );
    }
  }
}

@for $i from 1 through map-get( $susy, columns ) {
  .l-col-med-#{$i} {
    @include respond-to( 'desktop' ) {
      @include span( $i );
    }
  }

  .l-col-med-#{$i}-last {
    @include respond-to( 'desktop' ) {
      @include span( $i last );
    }
  }

  .l-col-med-push-#{$i} {
    @include respond-to( 'desktop' ) {
      @include push( $i );
    }
  }
}