/* ==========================================================================
    UTILS

    Utility classes (screen-reader, OO spacing etc.)
   ========================================================================== */

.u-sr-only {
	width: 1px;
	height: 1px;
	
	position: absolute;
	left: -10000px;
	top: auto;

	overflow: hidden;
}

.u-cover-link {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;

	&:focus {
		outline: none;
		border: 2px solid $clrDarkTeal;
	}
}

.u-clearfix:after,
%clearfix:after {
	content: '';
  display: table;
  clear: both;
}

.u-border-bottom,
%u-border-bottom {
	border-bottom: 1px solid $clrBorders;
}
.u-border-top,
%u-border-top {
	border-top: 1px solid $clrBorders;
}

.u-no-borders,
%u-no-borders {
	border: none !important;
}

.u-hidden-mobile {
	display: none;

	@include respond-to( 'tablet' ) {
		display: block;
	}
}

.u-pos-rel {
	position: relative;
}

.u-block {
	display: block;
}

.u-float-right {
	float: right;
}
.u-float-left {
	float: left;
}
.u-clear-both {
	clear: both;
}

.u-100-height {
	height: 100%;
}

.u-match-body-bg {
	background-color: $clrBody;
}
.u-bg-white {
	background-color: #FFFFFF;
}

.u-dark-teal {
	color: $clrDarkTeal;
}

.u-heading {
	font-family: $fontHeading;
}

.u-bold {
	font-weight: bold;
}

.u-base-font-size {
	font-size: $baseFontSize;
}

.u-no-hover:hover {
	text-decoration: none;
}

.u-med-text-right {
	@include respond-to( 'tablet' ) {
		text-align: right;
	}
}

.u-abs-centered,
%u-abs-centered {
	position: absolute;

	top: 50%;
	left: 50%;

	transform: translate( -50%, -50% )
}
