/* ==========================================================================
    UTILS

    Utility classes (screen-reader, OO spacing etc.)
   ========================================================================== */

.u-sr-only {
	width: 1px;
	height: 1px;
	
	position: absolute;
	left: -10000px;
	top: auto;

	overflow: hidden;
}

.u-cover-link {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

.u-clearfix:after {
	content: '';
  display: table;
  clear: both;
}