/* ==========================================================================
   SETTINGS

   Global config settings.
   ========================================================================== */

$breakpoints: (
  'tablet'    					: 767px,
  'tablet-landscape'   	: 1023px,
  'desktop'							: 1025px,
  'desktop-large'				: 1500px
);

// Colors
$clrBlue				: #0a85c7;
$clrDarkTeal		: #235164;
$clrTeal				: #1c7293;
$clrLilac				: #70a8ae;
$clrPurple			: #592d5f;
$clrOrange			: #cc6932;
$clrDarkestGrey : #333132;
$clrDarkGrey	 	: #4d4d4d;
$clrLightGrey 	: #6d6e71;
$clrBorders     : #cccccc;
$clrBody        : #F4F4F4;
$clrError       : #FF0000;

// Category Colors
$clrInfographic	: $clrTeal;
$clrWhitepaper	: $clrOrange;
$clrInsights		: $clrLilac;
$clrCampaign		: $clrPurple;

// Match colors to categories
$categoriesMap: (
	'insights'		: $clrInsights,
	'infographic'	: $clrInfographic, 
	'whitepaper'	: $clrWhitepaper, 
	'campaigns'		: $clrCampaign
);

/* Fonts
   ========================================================================== */

$fontMain       : 'myriad-pro', Helvetica, Arial, sans-serif; // myriad-pro is TypeKit
$fontHeading    : 'Gotham', Helvetica, Arial, sans-serif;

$baseFontSize   : 20px;

@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url(../fonts/Gotham-Book.eot?) format('eot'), url(../fonts/Gotham-Book.woff) format('woff'), url(../fonts/Gotham-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  src: url(../fonts/Gotham-Light.eot?) format('eot'), url(../fonts/Gotham-Light.woff) format('woff'), url(../fonts/Gotham-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  font-style: italic;
  src: url(../fonts/Gotham-LightItalic.eot?) format('eot'), url(../fonts/Gotham-LightItalic.woff) format('woff'), url(../fonts/Gotham-LightItalic.otf) format('opentype');
}

// We're also using Typekit for Wordpress
// https://en-gb.wordpress.org/plugins/typekit-fonts-for-wordpress/
// https://typekit.com/fonts/myriad
