/* ==========================================================================
    CAROUSEL
   
		Overwrite carousel plugin styles (or write new ones where they don't
		already exist).
   ========================================================================== */

.c-carousel {
	cursor: grab;

	&:active {
		cursor: grabbing;
	}
}

.c-carousel__nav {
	width: 100%;

	position: absolute;
	bottom: 270px; // .c-carousel__control height + .c-featured-item__main height

	@include respond-to( 'tablet' ) {
		top: 50%;

		transform: translateY(-50%);
	}

	.c-carousel--related & {
		bottom: auto;
		top: 50%;
		transform: translateY(-50%);
	}
}

.c-carousel__control {
	height: 50px;
	width: 50px;

	display: table;

	position: absolute;
	top: 50%; // adjust for height of element itself
	transform: translateY(-50%);

	background-color: rgba( #e8e8e8, 0.3 );
	color: #f5f4f3;

	cursor: pointer;

	@include respond-to( 'tablet' ) {
		background-color: #e8e8e8;
		color: #a1a1a1;
	}

	&:after {
		height: 100%;
		width: 100%;

		display: table-cell;
		vertical-align: middle;

		text-align: center;
		font-size: 28px;
		font-weight: bold;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		transition: transform 0.25s;

		.touch & {
			transform: none !important; // remove hover effects on .touch
		}
	}

	&--dark {
		background-color: rgba( 0, 0, 0, 0.5 );
	}
}

.c-carousel__control.prev {
	left: 0;

	&:after {
		content: '\00ab';
	}

	&:hover:after {
		transform: translateX(-3px);
	}

	/**
	 * Hide prev control
	 * on related-items carousel
	 */
	.c-carousel--related & {
		visibility: hidden;
	}
}

.c-carousel__control.next {
	right: 0;

	&:after {
		content: '\00bb';
	}

	&:hover:after {
		transform: translateX(3px);
	}

	/**
	 * Move position of next control
	 * on related-items carousel
	 */
	.c-carousel--related & {
		@include respond-to( 'tablet' ) {
			right: calc( 33.3% - 50px - 7px ); // (100% - width of carousel item) - control width - margin-right
		}
	}
}

/**
 * Tweak styles on active/non-active elements on
 * related-items carousel
 */
.c-carousel--related .owl-item:not(.active),
.c-carousel--related .owl-item.active + .owl-item.active {
	opacity: 0.5;
}