/* ==========================================================================
    CONTENT BLOCK
   
		These are the content blocks on the homepage, and also used in related content
		at the foot of a single post.
   ========================================================================== */

.c-content-block {
	margin-bottom: 25px;
	
	position: relative;

	overflow: hidden;
	box-sizing: border-box;

	background-color: #FFFFFF;

	@include respond-to( 'tablet' ) {
		height: auto;
		min-height: 294px;

		&:not(.c-content-block--related) {
			width: 100%;
		}
	}

	&:not(.c-content-block--related) {
		width: 100%;
	}

	.touch & {
		/**
		 * Calculate width and height
		 * using vw so we can keep it
		 * a square layout. Only on
		 * touch devices
		 *
		 */
		width: calc(100vw - 40px); // 40px = .site-wrapper's padding
		height: calc(100vw - 40px);

		@include respond-to( 'tablet' ) {
			width: 100%;
			height: auto;
		}
	}
}

.c-content-block__main {
	height: 100%;

	padding: 30px;

	// Keep above img on mobile
	position: relative;
	z-index: 1;

	box-sizing: border-box;
}

.c-content-block__side {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;

	overflow: hidden;
}

.c-content-block__img {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;

	background-color: $clrDarkTeal;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75% center;

	opacity: 0.1;

	transform: scale(1);
	transition: transform 0.5s;

	.c-content-block:hover & {
		transform: scale(1.1);

		.touch & {
			transform: none;
		}
	}

	@include respond-to( 'tablet' ) {
		opacity: 1;
	}
}

.c-content-block__cover-link {
	z-index: 2;
}

.c-content-block__title {
	margin-bottom: 15px;

	font-family: $fontMain;
	font-weight: normal;
	font-size: 26px;
}

.c-content-block__meta {
	margin-bottom: 80px;

	font-weight: bold;
	font-size: 20px;
}

.c-content-block__read-more {
	position: absolute;
	bottom: 30px; left: 30px;
}

.c-content-block__share {
	position: absolute;
	right: 40px; bottom: 40px;

	z-index: 3;
}

/**
 * Alternative colours on titles 
 * and meta dependent on category
 */
@each $cat, $color in $categoriesMap {
	.c-content-block--#{$cat} {

		.c-content-block__title,
		.c-content-block__meta {
			color: $color;
		}

		.c-content-block__img {
			background-color: $color;
		}
	}
}

/* Related blocks
   ========================================================================== */

.c-content-block--related {
	height: 260px;
	margin-bottom: 0;

	// inside carousel
	.owl-item & {
		width: 100%;
	}
}