/* ==========================================================================
    FORM
   
		Forms, inputs, selects etc.

		These may be a bit 'off'. We're using Marketo for our forms, and so we 
		don't have the level of control over markup that we would want.

		Please see ./assets/js/app/_marketo.js to see how we're gaining back
		*some* control.
   ========================================================================== */

::placeholder,
::-webkit-input-placeholder {
	font-family: $fontMain;

	color: $clrDarkestGrey;
}

.c-form__input-group {
	@include span( 12 );

	position: relative;
}

.c-form__input-group--50 {
	@include respond-to( 'tablet' ) {
		@include span( 6 );

		& + & {
			@include span( 6 last );
		}
	}
}

.c-form__input {
	display: block;

	border: 2px solid #D7D7D7;

	box-sizing: border-box;

	background-color: #FFFFFF;

	&:focus {
  	border-color: $clrDarkTeal;
  	outline: none;
  }
}

.c-form__input--text {
  width: 100%;

  padding: 15px;
  margin-bottom: 15px;

  border-radius: 5px;
  	
  // Error
  &.mktoInvalid,
  &.mktoInvalid::placeholder,
  &.mktoInvalid::-webkit-input-placeholder {
  	color: $clrError;
  }

  // Error but focus
  &.mktoInvalid:focus,
  &.mktoInvalid:focus::placeholder,
  &.mktoInvalid:focus::-webkit-input-placeholder {
  	color: $clrDarkestGrey;
  }
}

.c-form__input--select {
	width: 100%;

	padding: 15px;
	margin-bottom: 15px;

	position: relative;

	font-family: $fontMain;
	
	background-image: url( ../media/img/dropdown-icon.svg );
	background-repeat: no-repeat;
	background-position: calc( 100% - 15px ) center;
	background-size: 14px 8px;

	color: $clrDarkestGrey;

	appearance: none; // remove default browser <select> appearance
}

.c-form__input--submit {
	width: 100%;

	float: right;

	border-color: $clrDarkTeal;

	font-family: $fontMain;

	background-color: $clrDarkTeal;
	color: #FFFFFF;

	cursor: pointer;

	@include respond-to( 'tablet' ) {
		background-color: transparent;
		color: $clrDarkTeal;
	}
}

/* Marketo forms
   ========================================================================== */

.c-form--marketo {
	font-size: 18px;

	@extend %clearfix;

	// Some Marketo styles which we need
	// specificity to overwrite
	::placeholder,
	::-webkit-input-placeholder {
		font-family: $fontMain;
		color: $clrDarkestGrey;
	}

	// First two inputs side-by-side 
	// first and last name
	.c-form__input-group:nth-of-type(1) {
		@include respond-to( 'tablet' ) {
			@include span( 6 );
		}
	}

	.c-form__input-group:nth-of-type(2) {
		@include respond-to( 'tablet' ) {
			@include span( 6 last );
		}
	}

	.c-form__submit-group {
		@include respond-to( 'tablet' ) {
			@include span( 5 last );
		}
	}
}

// Position error text
.mktoError {
	position: absolute;

	// !importants because we're overriding 
	// Marketo styles
  top: 4px;
  right: 15px !important;
  bottom: auto !important;
  left: auto !important;

  font-size: 14px;
  color: $clrError;
}

/* In-page (ie. not in an overlay/lightbox) forms
   ========================================================================== */

.c-form--in-page .c-form__submit-group,
.c-form--in-page .c-form__input--submit {
	float: left;
	clear: both;
}
