/* ==========================================================================
    FORM
   
		Forms, inputs, selects etc.

		These may be a bit 'off'. We're using Marketo for our forms, and so we 
		don't have the level of control over markup that we would want.

		Please see ./assets/js/app/_marketo.js to see how we're gaining back
		*some* control.
   ========================================================================== */

::placeholder {
	font-family: $fontMain;
}

.c-form__input {
	display: block;
	box-sizing: border-box;
}

.c-form__input--text {
  width: 100%;

  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid;

  border-radius: 5px;
  background: none;
}

.c-form--contact {
	font-size: 18px;
}