/* ==========================================================================
    HERO
   
		Hero area.
   ========================================================================== */

.c-hero {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.c-hero--single {
	height: 260px;
	max-height: 90vh;

	@include respond-to( 'tablet' ) {
		height: 410px;
	}
}