/* ==========================================================================
    HERO
   
		Lightbox elements.

		We're using lightcase.js for our Lightbox "needs", so it has it's own
		styles in vendor/, however this partial is for custom styles on top
		of this (e.g. hiding the container).
   ========================================================================== */

.c-lightbox__inner {
	display: none; // overwritten by JS

	font-size: 20px;

	&:focus {
		outline: 0;
	}
}

.c-lightbox__title {
	font-size: 24px;

	color: $clrDarkestGrey;
}

.c-lightbox__copy {
	font-family: $fontMain;

	@include respond-to( 'tablet' ) {
		color: $clrLightGrey !important;
	}
}

// Hide vidyard videos inside lightbox by default
.c-lightbox__inner .vidyard_player {
	display: none;
}