/* ==========================================================================
    PRE-FOOTER

    "Contact Us"
   ========================================================================== */

.c-pre-footer {
	background-color: $clrDarkestGrey;
	color: #FFFFFF;

	text-align: center;
}

.c-pre-footer__title {
	font-size: 24px;
}
