/* ==========================================================================
    READ MORE
   
		'Read more' link.
   ========================================================================== */

.c-read-more {
	font-weight: bold;
	font-size: 20px;

	&:after {
		content: '\00bb';

		margin-left: 5px;

		display: inline-block;

		position: absolute; // pull out of flow so it doesn't wrap

		text-decoration: none;

		transform: translateX(0);
		transition: transform 0.25s;
	}

	&:hover {
		text-decoration: none;
	}

	// Also activate hover state when parent
	// is hovered. Add this class to the 
	// parent which should activate the
	// hover on the .c-read-more element
	&:hover:after,
	.c-read-more__parent:hover &:after {
		transform: translateX(5px);

		// Remove hover on .touch
		.touch & {
			transform: none;
		}
	}

	&--smaller {
		font-size: 17px;
	}
}