/* ==========================================================================
    SITE HEADER

    Header is a global component which is used across a lot of SS&C Advent
    sites, and so for that reason I've resisted using Sass variables here. This 
    should make the styles below easier to port if necessary.

    To keep it even more portable we're also controlling layout in this file, as
    opposed to with grid classes (.l-col-y-x etc.). I know this is not in 
    keeping with the rest of the site, however I feel this is acceptable in this
    instance.
   ========================================================================== */

.c-site-header {
	padding: 18px 0;
	border-top: 6px solid #0a85c7;

	background-color: #FFFFFF;

	line-height: 0; // this is fine because text will never wrap

	z-index: 2;

	white-space: nowrap; // fix inline-block/50% width bug (http://stackoverflow.com/a/10592283)

	@include respond-to( 'desktop' ) {
		padding: 26px 0 26px;
	}

	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}

	&.has-box-shadow {
		box-shadow: 0 0 60px 0 rgba( 0, 0, 0, 0.15 );
	}
}

.c-site-header__title,
.c-site-header__logo {
	width: 50%;

	display: inline-block;
	vertical-align: middle;
}

.c-site-header__title {
	margin: 0;

	// Shift title down for alignment purposes
	position: relative;
	top: 5px;

	font-family: 'Gotham', 'Helvetica', 'Arial', sans-serif;
	font-weight: normal;
	font-size: 22px;

	@include respond-to( 'desktop' ) {
		font-size: 30px;
	}
}

.c-site-header__title-link {
	display: block;

	color: #4D4D4D;

	transform: translateY(0);

	transition: transform 0.25s;

	&:hover {
		text-decoration: none;

		transform: translateY(-2px);
	}
}

.c-site-header__logo {
	height: 37px;

	overflow: hidden;

	background-image: url(../media/img/SSC-Advent.svg);
	background-repeat: no-repeat;
	background-position: right;

	@include respond-to( 'desktop' ) {
		height: 51px;
	}
}
