/* ==========================================================================
    SITE FOOTER

    Site footer
   ========================================================================== */

.c-site-footer {
	padding: 20px 0;

	clear: both;

	background: #000000;
	color: #FFFFFF;
}

.c-site-footer__logo {
	height: 32px;
	width: 138px;

	display: block;
}

.c-site-footer__legal {
	margin: 0;

	/**
	 * Align with brand logo
	 */
	position: relative;
	top: 13px;

	font-size: 13px;
}