/* ==========================================================================
    TABLES

    - apply .c-table to container
    - apply .c-table-cell to each cell
   ========================================================================== */

.c-table {
	width: 100%;

	padding: 0;
	margin: 0 0 40px;

	display: flex;

	flex-flow: row wrap;

	overflow: hidden;
}

.c-table-cell,
.c-table-intro {
	width: 100%;

	box-sizing: border-box;
}

.c-table-intro {
	font-weight: normal;
}

.c-table-cell {
	padding: 15px 10px;

	background-color: #D8E6E8;
	
	text-align: center;
	list-style: none; // in-case <li> is used

	@include respond-to( 'tablet' ) {
		width: 50%;

		padding: 15px 50px;
	}

	@include respond-to( 'desktop' ) {

	}

	&:nth-of-type(even) {
		background-color: #C3D9E2;
	}
	
	@include respond-to( 'tablet' ) {
		// alternate bg colors
		&:nth-of-type(4n-2),
		&:nth-of-type(4n-1) {
			background-color: #C3D9E2;
		}

		&:not(:nth-of-type(4n-2)):not(:nth-of-type(4n-1)) {
			// destroy :nth-of-type(even) styles without destroying
			// tablet :nth-of-type styles
			background-color: #D8E6E8;		
		}
	}
}
