/* ==========================================================================
   TITLES

   Headings/titles for page sections.
   ========================================================================== */

.c-section-title {
	margin-bottom: 30px;

	font-family: $fontHeading;
}

.c-article-title {
	font-size: 40px;
}